.App,
main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

header,
section,
main {
    padding: 30px;
    border: solid 1px #000;
}

section {
    min-height: 150px;
}